name: Upload Binaries
on:
  workflow_call:
    inputs:
      matrix:
        type: string
        required: true
    secrets:
      token:
        required: true

jobs:
  Artifacts:
    name: ${{ matrix.config.name }} ${{ matrix.binaries }}
    runs-on: ubuntu-latest
    env:
      EXT: ${{ matrix.config.ext }}
      NAME: ${{ matrix.config.simple_name }}
      BINARY: ${{ matrix.binaries }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(inputs.matrix) }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 1

      - name: Download artifact from compilation
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.config.simple_name }}-${{ matrix.binaries }}
          path: ./artifact/

      - name: Create Package
        run: mkdir -p DON

      - name: Assemble package
        run: |
          ART_ROOT="artifact"

          test -d "$ART_ROOT" || { echo "ERROR: Artifact root not found"; exit 1; }

          # Binary (required)
          cp "$ART_ROOT/DON-$NAME-$BINARY$EXT" DON/ || { echo "ERROR: Binary not found"; exit 1; }
          # Optional extras
          cp -r "$ART_ROOT/scripts" DON/ 2>/dev/null || true
          cp "$ART_ROOT"/{Copying.txt,CITATION.cff,README.md,CONTRIBUTING.md} DON/ 2>/dev/null || true

      - name: Create tar
        if: ${{ !startsWith(matrix.config.os, 'windows') }}
        run: |
          chmod +x ./DON/DON-$NAME-$BINARY$EXT
          tar -cvf DON-$NAME-$BINARY.tar DON

      - name: Create zip
        if: ${{ startsWith(matrix.config.os, 'windows') }}
        run: |
          zip -r DON-$NAME-$BINARY.zip DON

      # Get commit info
      - name: Get commit info
        run: |
          echo "COMMIT_SHA=$(git rev-parse HEAD | cut -c 1-8)" >> $GITHUB_ENV
          echo "COMMIT_DATE=$(git show -s --date=format:'%Y%m%d' --format=%cd HEAD)" >> $GITHUB_ENV

      # Make sure that an old CI running on main doesn't recreate a pre-release
      - name: Check Pullable Commits
        run: |
          git fetch origin main
          CHANGES=$(git rev-list HEAD..origin/main --count)
          echo "CHANGES=$CHANGES" >> $GITHUB_ENV

      # Determine if this is an official release
      - name: Official Release?
        run: |
          if git log -1 --pretty=%B | grep -q "Official release version of DON"; then
            echo "OFFICIAL_RELEASE=true" >> $GITHUB_ENV
          else
            echo "OFFICIAL_RELEASE=false" >> $GITHUB_ENV
          fi

      - name: Delete existing Pre-release
        #if: github.ref_name == 'main' && env.CHANGES == '0' && env.OFFICIAL_RELEASE == 'false'
        run: |
          TAG="DON-dev-${COMMIT_DATE}-${COMMIT_SHA}"
          echo "Deleting Pre-release $TAG (if it exists)"
          gh release delete "$TAG" --cleanup-tag -y || true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Upload pre-release asset (dev build)
      - name: Upload Pre-release Asset
        #if: github.ref_name == 'main' && env.CHANGES == '0' && env.OFFICIAL_RELEASE == 'false'
        uses: softprops/action-gh-release@4634c16e79c963813287e889244c50009e7f0981
        with:
          name: DON dev-${{ env.COMMIT_DATE }}-${{ env.COMMIT_SHA }}
          tag_name: DON-dev-${{ env.COMMIT_DATE }}-${{ env.COMMIT_SHA }}
          files: DON-${{ matrix.config.simple_name }}-${{ matrix.binaries }}.${{ matrix.config.archive_ext }}
          prerelease: true
          token: ${{ secrets.token }}

      # Upload official release asset (tagged commit)
      - name: Upload Official Release Asset
        if: startsWith(github.ref_name, 'DON_') && github.ref_type == 'tag'
        uses: softprops/action-gh-release@4634c16e79c963813287e889244c50009e7f0981
        with:
          files: DON-${{ matrix.config.simple_name }}-${{ matrix.binaries }}.${{ matrix.config.archive_ext }}
          token: ${{ secrets.token }}
          clobber: true
